<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<link rel="icon" href="/../img/LoL.ico">
<title>LoL Dashboard</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>