.Blue{
    background-color:#0080ff;
    color:white !important;
    font-size: 19px;
}

.Red{
    background-color:#ff3333;
    color:white;
    font-size: 19px;

}

.container-fluid-fluid
{
    max-width: 90%;
}
.color-change{
    padding:0 !important;
    width:50%
}
.inlineP{
    display: inline-block;
}

.profileIcon
{
    max-width: 150px;
    max-height: 150px;
}

.centerButtons
{
    position: absolute;
    bottom:50%;
    /*left:50%;*/
    /*transform: translate(0,-50%);
    margin: auto;*/

}

.updateButton
{
    position:absolute;        
    bottom:0;
    right:0;

}
.lvl
{
    color:white;
    position:absolute;        
    bottom:0;
    left: 0;
    transform: translate(0,45%);
    margin-left: 37%;
    background: url(../img/bg-levelbox.png);
}

.account
{
    margin-bottom: 2em;
}

.gameContent
{
    border: 2px solid;
    margin : 5px 2px;
    display: flex;
    flex:0 0 auto;
    flex-direction: row;
}

.gameContent article {
    display: flex;
    flex:0 0 auto;
    flex-direction: row;
    padding:2px 5px;
}


.gameContent article.summonerStats {
    

    flex-direction: row;

}

.gameContent article.gameStats,.gameContent article.gameSettingInfos{

    flex-direction: column;

}

.gameContent article div{
    
    padding:2px 5px;
}

.gameContent article.teams div p {
    
    padding:0px 0px;
    margin: 0px;
}

.Win
{
    background-color: #a3cfec;
    border-color: #99b9cf;
}

.Fail
{
    background-color: #e2b6b3;
    border-color: #cea7a7;
}



.champImg {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    padding:0;
    width: 50px;
    height: 50px;
}

form .champOthers {
    border-top-left-radius: 0 0;
    border-top-right-radius: 0 0;
    border-bottom-right-radius: 0 0;
    border-bottom-left-radius: 0 0;
    padding:0;
    width: 20px;
    height: 20px;
}



.champion>*{
    margin:auto;
    text-align: center;
}



